@model TesterBZ.Models.AddAnswerViewModel
@{
    ViewBag.Title = "Добавить ответ";
}


<div class="row">
    <div class="col-md-6">
        <h2><a class="glyphicon glyphicon-backward btn btn-success" href="@(Url.Action("QuestionAnswersList",new { id=Model.QuestionId }))"></a> @ViewBag.Title</h2>
    </div>
</div>

<form action="" method="post">
    <input type="hidden" name="questionId" value="@Model.QuestionId"/>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="text-center">
                <label for="answerText">Текст ответа:</label>
                <input type="text" name="answerText" id="answerText" class="form-control" placeholder="Введите текст ответа..." />
                <br />
                <label for="answerImage">Изображение:</label>
                <input type="file" name="answerImage" class="form-control" />
                <br />
                <label for="answerWeight">Вес ответа*:</label>
                <input type="number" id="answerWeight" name="answerWeight" value="0" min="-100" max="100" class="form-control"/>
                <br />
                <button type="submit" class="btn btn-primary">Добавить</button>
                <br />
                <br />
                <div class="text-muted">
                    <small>*Вес ответа - значение, относительно которого будет в нужных случаях браться стоимость того или иного ответа, а также по нему будут располагаться и остальные варианты ответов: чем ниже вес, тем левее или выше (ближе к началу) находится вариант ответа</small>
                </div>
            </div>
        </div>
    </div>
</form>