<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vuriy123-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://vuriy123-001-site1.ctempurl.com:8172/msdeploy.axd?site=vuriy123-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>vuriy123-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\vuriy123-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TesterBZContext" Order="1" Enabled="True">
          <Destination Path="Data Source=sql6003.site4now.net;Initial Catalog=DB_A3C619_testerbz;User ID=DB_A3C619_testerbz_admin;Password=45kZtd8a" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TesterBZDomainModel.TesterBZContext, TesterBZDomainModel" MigrationConfiguration="TesterBZDomainModel.Migrations.Configuration, TesterBZDomainModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TesterBZContext-Web.config Connection String">
      <ParameterValue>Data Source=sql6003.site4now.net;Initial Catalog=DB_A3C619_testerbz;User ID=DB_A3C619_testerbz_admin;Password=45kZtd8a</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>